CONTAINER_PREFIX=local

PROJECT_NAME=ecobit
TIMEZONE=Europe/Misnk

GITHUB_USER=
GITHUB_TOKEN=
GITHUB_EMAIL=
GITHUB_NAME=

XDEBUG_CLIENT_HOST=192.168.1.1

MYSQL_ROOT_PASSWORD=root
MYSQL_USER=dev
MYSQL_PASSWORD=dev
MYSQL_DATABASE=${PROJECT_NAME}_dev
