/.idea/

/services/ssl/*
!/services/ssl/.gitkeep

/services/composer/cache/*
!/services/composer/cache/.gitkeep

/services/mysql/data/*
!/services/mysql/data/.gitkeep

/services/redis/data/*
!/services/redis/data/.gitkeep

/app/
/.env
