/.idea/

/config/nginx/*
!/config/nginx/appstream.nginx.conf
!/config/nginx/default.nginx.template

/config/ssl/*
!/config/ssl/.gitkeep

/services/mysql/*
!/services/mysql/.gitkeep
/services/redis/*
!/services/redis/.gitkeep

/app/
/.env
